*{
    background-color:var();
    --Yellow:  rgb(255,182,18);
    --Orange: rgb(225,110,0);
    --DarkerGreen: rgb(122,184,0);
    --DarkerBlue: rgb(76,92,197);
    --Green:rgb(190,214,0);
    --LigherBlue:rgb(0,161,222);
   }

