@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.header {
    background-color: #008998;
    display:flex; 
    justify-content: center;
    align-items: center;
    // font-family: "Audiowide", sans-serif;
  
}

.title {
    // background-color: red;
    display:flex; 
    justify-content: center;
    align-items: center;
    font-family: "Audiowide", sans-serif;

}
h1 {
    background-color: #008998;
    color: white;
    display:flex; 
    justify-content: center;
    align-items: center;
    // font-family: "Audiowide", sans-serif;

}

.navList a{
    color: white;
    list-style: none;
    display: inline-block;
    margin:40px;
    margin-left: 3em; 
    position: relative;
    text-decoration: none;
    font-size: 30px;
    // text-transform: uppercase;
    
}

.navList a:hover{
        color: orange;
    
}



