@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.footer .footer2{
    position: absolute;
    top: 83%;
    margin-top: 60px;
    color: white;
    font-size: 2em;
    justify-content: center;
    // background: #3586ff;
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    font-family: "Audiowide", sans-serif;

}


.footer .wave {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.footer .wave::before {
    content:'';
    position: absolute;
    // bottom: 0;
    left:0;
    width: 100px;
    height: 100px;
    background: url(../../assets/wave.png) repeat-x;
    background-size: cover;
    background-position: -1000px 0;
    opacity: .5;
    animation: waveone 60s linear infinite;
}

@keyframes waveone {
    50%{
        background-position:0 0;
    }
}

.footer .wave::after{
    content:'';
    position: absolute;
    bottom: 0;
    left:0;
    width: 100px;
    height: 100px;
    background: url(../../assets/wave.png) repeat-x;
    background-size: cover;
    background-position: 2732px 0;
    opacity: .3;
    animation: waveone 120s linear infinite;
}








